@model IEnumerable<BookGetVM>

<table class="table table-hover table-bordered">
    <thead class="table-light">
        <tr>
            <th scope="col">Название</th>
            <th scope="col">Автор</th>
            <th scope="col">Жанр</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model.OrderBy(e => e.Author.ToString()).ThenBy(e => e.Title))
        {
            <tr navigate asp-controller="Book" asp-action="Book" asp-route-id="@book.Id">
                <td>
                    @book.Title
                </td>
                <td>
                    @book.Author.ToString()
                </td>
                <td>
                    @book.Genre.Name
                </td>
            </tr>
        }
    </tbody>
</table>
