@model IEnumerable<StoreGetVM>

@{
    ViewData["Title"] = "Список хранилищ";
}

<table class="table table-hover table-bordered">
    <thead class="table-light">
        <tr>
            <th scope="col">Название</th>
            <th scope="col">Адрес</th>
            <th scope="col">Кол-во книг</th>
            <th scope="col">В моих хранилищах</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var store in Model)
        {
            <tr navigate asp-action="Store" asp-route-id="@store.Id">
                <td>
                    @store.Name
                </td>
                <td>
                    @store.Address
                </td>
                <td>
                    @(store.Books?.Count() ?? 0)
                </td>
                <td>
                    @if (store.IsLinkedToUser)
                    {
                        <i class="bi bi-check-square-fill"></i>
                    }
                    else
                    {
                        <i class="bi bi-x-square-fill"></i>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<button navigate asp-action="Store" class="btn btn-primary align-self-center">
    Добавить хранилище
</button>
