@model IEnumerable<StoreVM>

@{
    ViewData["Title"] = "Список хранилищ";
}

<table class="table table-hover">
    <thead class="table-light">
        <tr>
            <th scope="col">Название</th>
            <th scope="col">Адрес</th>
            <th scope="col">Кол-во книг</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var store in Model)
        {
            <tr navigate asp-action="Store" asp-route-id="@store.Id">
                <td>
                    @store.Name
                </td>
                <td>
                    @store.Address
                </td>
                <td>
                    @(store.Books?.Count() ?? 0)
                </td>
            </tr>
        }
    </tbody>
</table>

<button navigate asp-action="Store" class="btn btn-primary align-self-center">
    Добавить хранилище
</button>
