@model IEnumerable<GenreGetVM>

@{
    ViewData["Title"] = "Список жанров";
}

<table class="table table-hover table-bordered">
    <thead class="table-light">
        <tr>
            <th scope="col">Название</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var genre in Model.OrderBy(e => e.Name))
        {
            <tr navigate asp-action="Genre" asp-route-id="@genre.Id">
                <td>
                    @genre.Name
                </td>
            </tr>
        }
    </tbody>
</table>

<button navigate asp-action="Genre" class="btn btn-primary align-self-center">
    Добавить жанр
</button>
