@model GenrePageVM

@{
    ViewData["Title"] = Model?.GenreGet is null ? "Добавление жанра" : "Изменение жанра";
}

<form>
    <div class="row g-3 w-75 mx-auto">
        <input type="hidden" asp-for="GenrePost.Id" value="@Model.GenreGet?.Id" />

        <div class="col">
            <label asp-for="GenrePost.Name" class="form-label">Название:</label>
            <input asp-for="GenrePost.Name" value="@Model.GenreGet?.Name" class="form-control" />
            <span asp-validation-for="GenrePost.Name" class="text-danger"></span>
        </div>

        <div class="col-12 d-flex justify-content-around">
            @if (Model?.GenreGet is null)
            {
                <button type="submit" formmethod="post" asp-action="AddGenre" class="btn btn-primary">Добавить</button>
            }
            else
            {
                <button type="submit" formmethod="post" asp-action="EditGenre" class="btn btn-primary">Изменить</button>
                <button type="submit" formmethod="post" asp-action="RemoveGenre" class="btn btn-danger">Удалить</button>
            }
        </div>
    </div>
</form>