@model BookVM

<h3>Страница добавления книги</h3>

<form asp-action="AddBook" method="post">
    <label>Название книги:</label>
    <input type="text" asp-for="@Model.Title" />

    <button>Добавить</button>
</form>

<a asp-action="Index">Вернуться к списку книг</a>