<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FBS</title>
    <link rel="stylesheet" href="~/dist/site.css" />
    @await RenderSectionAsync("Styles", required: false)
    <script src="~/dist/site.entry.js" defer></script>
    @await RenderSectionAsync("Scripts", required: false)
</head>
<body>
    <header>
        @await Html.PartialAsync("_NavBar")
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <i class="bi bi-c-circle"></i> 2024 - FBS - Made by YureZ
        </div>
    </footer>
</body>
</html>
