@using Data.Enums
@using Data.Extensions
@model BookPageVM

@{
    var bookId = Model?.General.BookGet?.Id;
    var isEdit = bookId is > 0;

    ViewData["Title"] = !isEdit ? "Добавление книги" : "Изменение книги";
}

@section Scripts
{
    <script src="~/dist/book.entry.js" defer></script>
    <script>
        const bookPageIsEdit = "@isEdit";
        const bookPageBookId = bookPageIsEdit ? "@bookId" : undefined;
    </script>
}

@section Styles
{
    <link rel="stylesheet" href="~/dist/book.css" />
}


<div class="row">
    <div class="col-3">
        <div class="book-thumbnail">
            <img src="@(Url.Action("Image", "Book", new { bookId }))" class="rounded">
        </div>
        @if (isEdit)
        {
            <form enctype="multipart/form-data">
                <div class="input-group my-3">
                    <input type="file" asp-for="Image.ImagePost" accept="image/png, image/jpeg" class="form-control">
                    <button type="submit" formmethod="post" asp-action="SetImage" asp-route-bookId="@Model.General.BookGet.Id" class="btn btn-outline-primary">
                        <i class="bi bi-upload"></i>
                    </button>
                </div>
                <span asp-validation-for="Image.ImagePost" class="text-danger"></span>
            </form>
        }
    </div>
    <div class="col-9">
        @if (isEdit)
        {
            <nav class="mb-4">
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-general-tab" data-bs-toggle="tab" data-bs-target="#nav-general" type="button" role="tab" aria-controls="nav-general" aria-selected="true">Основное</button>
                    <button class="nav-link" id="nav-quotes-tab" data-bs-toggle="tab" data-bs-target="#nav-quotes" type="button" role="tab" aria-controls="nav-quotes" aria-selected="false">Цитаты</button>
                    <button class="nav-link" id="nav-review-tab" data-bs-toggle="tab" data-bs-target="#nav-review" type="button" role="tab" aria-controls="nav-review" aria-selected="false">Оценки</button>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-general" role="tabpanel" aria-labelledby="nav-general-tab" tabindex="0">
                    @await Html.PartialAsync("BookGeneralForm", Model.General, ViewData)
                </div>
                <div class="tab-pane fade" id="nav-quotes" role="tabpanel" aria-labelledby="nav-quotes-tab" tabindex="0">
                    @await Html.PartialAsync("BookQuotes", Model.BookQuotes, ViewData)
                </div>
                <div class="tab-pane fade" id="nav-review" role="tabpanel" aria-labelledby="nav-review-tab" tabindex="0">
                    Тут будут оценки...
                </div>
            </div>
        }
        else
        {
            @await Html.PartialAsync("BookGeneralForm", Model.General, ViewData)
        }
    </div>
</div>