<form class="d-flex me-4" role="search">
    <div class="search-wrapper input-group">
        <input class="form-control" type="search" placeholder="Введите название или автора" />
        <button class="btn btn-outline-success" type="submit">Поиск</button>
    </div>
</form>
