@model IEnumerable<AuthorGetVM>

@{
    ViewData["Title"] = "Список авторов";
}

<table class="table table-hover table-bordered">
    <thead class="table-light">
        <tr>
            <th scope="col">Фамилия</th>
            <th scope="col">Имя</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var author in Model.OrderBy(e => e.LastName).ThenBy(e => e.FirstName))
        {
            <tr navigate asp-action="Author" asp-route-id="@author.Id">
                <td>
                    @author.LastName
                </td>
                <td>
                    @author.FirstName
                </td>
            </tr>
        }
    </tbody>
</table>

<button navigate asp-action="Author" class="btn btn-primary align-self-center">
    Добавить автора
</button>
