@model AuthorPageVM

@{
    ViewData["Title"] = Model?.Author is null ? "Добавление автора" : "Изменение автора";
}

<form>
    <div class="row g-3 w-75 mx-auto">
        <input type="hidden" asp-for="Author.Id" />

        <div class="col-6">
            <label for="firstNameInput" class="form-label">Имя:</label>
            <input asp-for="Author.FirstName" class="form-control" id="firstNameInput" />
        </div>
        <div class="col-6">
            <label for="lastNameInput" class="form-label">Фамилия:</label>
            <input asp-for="Author.LastName" class="form-control" id="lastNameInput" />
        </div>

        <div class="col-12 d-flex justify-content-around">
            @if (Model?.Author is null)
            {
                <button type="submit" formmethod="post" asp-action="AddAuthor" class="btn btn-primary">Добавить</button>
            }
            else
            {
                <button type="submit" formmethod="post" asp-action="EditAuthor" class="btn btn-primary">Изменить</button>
                <button type="submit" formmethod="post" asp-action="RemoveAuthor" class="btn btn-danger">Удалить</button>
            }
        </div>
    </div>
</form>