@model AuthorPageVM

@{
    ViewData["Title"] = Model?.AuthorGet is null ? "Добавление автора" : "Изменение автора";
}

<form asp-controller="Author">
    <div class="row g-3 w-75 mx-auto">
        <input type="hidden" asp-for="AuthorPost.Id" value="@Model.AuthorGet?.Id" />

        <div class="col-6">
            <label asp-for="AuthorPost.FirstName" class="form-label">Имя:</label>
            <input asp-for="AuthorPost.FirstName" value="@Model.AuthorGet?.FirstName" class="form-control" />
            <span asp-validation-for="AuthorPost.FirstName" class="text-danger"></span>
        </div>
        <div class="col-6">
            <label asp-for="AuthorPost.LastName" class="form-label">Фамилия:</label>
            <input asp-for="AuthorPost.LastName" value="@Model.AuthorGet?.LastName" class="form-control" />
            <span asp-validation-for="AuthorPost.LastName" class="text-danger"></span>
        </div>

        <div class="col-12 d-flex justify-content-around">
            @if (Model?.AuthorGet is null)
            {
                <button type="submit" formmethod="post" asp-action="AddAuthor" class="btn btn-primary">Добавить</button>
            }
            else
            {
                <button type="submit" formmethod="post" asp-action="EditAuthor" class="btn btn-primary">Изменить</button>
                <button type="submit" formmethod="post" asp-action="RemoveAuthor" class="btn btn-danger">Удалить</button>
            }
        </div>
    </div>
</form>